<div class="shotlist-tab table-container" *ngIf="isDataReady">
  <div class="row">
    <div class="col-md-12">
      <div class="table-header-panel">
        <ul>
          <!-- <li *ngIf="!isReadOnly" (click)="createVersion()">
            <span><i nz-icon nzType="plus-circle" [nzTheme]="'fill'"></i></span>
            Add
          </li> -->
          <li *ngIf="isSearching">
            <span>
              <input
                style="height: 21px;"
                type="text"
                nz-input
                placeholder="Type search text"
                autofocus
                (blur)="searchBlur()"
                [(ngModel)]="searchPattern"
                (keyup.enter)="searchDetails()"
              />
            </span>
          </li>
          <li *ngIf="!isSearching" (click)="searchHandler()">
            <span><i nz-icon nzType="search"></i></span> Search
          </li>
        </ul>
      </div>
      <!-- height: calc(100vh - 200px); -->
      <ngx-datatable
        #myTable
        style="min-width:100%;width:100%;min-height:200px !important;"
        [style.height]="getTableHeight()"
        class="material striped expandable fullscreen"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [scrollbarV]="true"
        [scrollbarH]="true"
        [virtualization]="false"
        [externalSorting]="true"
        [externalPaging]="true"
        [loadingIndicator]="isLoading"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        [selectAllRowsOnPage]="false"
        (page)="setPage($event)"
        (select)="onSelect($event)"
        (sort)="onSort($event)"
      >
        <ngx-datatable-column
          *ngFor="let col of selectedTableColumns"
          [name]="col.displayName"
          [width]="getColWidth(col.name)"
          [sortable]="col.sortable"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-row="row"
            let-value="value"
          >
            <div [ngSwitch]="col.name">
              <span *ngSwitchCase="'thumbnail'">
                <div class="edit-wrapper">
                  <div class="img-panel table-thumb">
                    <app-image [url]="row.thumbnail"></app-image>
                  </div>
                  <!-- <div class="col-2 px-0 edit" *ngIf="col.isEditable">
                        <a href="javascript:void(0)" (click)="inlineEditHandler(row, col)"><i
                            class="fa fa-pencil fa-lg"></i></a>
                      </div> -->
                </div>
              </span>
              <span *ngSwitchCase="'createDate'">
                <span [title]="row[col.name] ? row[col.name] : ''">
                  <div class="edit-wrapper">
                    <div
                      *ngIf="row[col.name]"
                      class="col-10 px-0 text-truncate"
                    >
                      {{ row[col.name] | date: "dd/MM/yyyy" }}
                    </div>
                    <div
                      *ngIf="!row[col.name]"
                      class="col-10 px-0 text-truncate"
                    >
                      -
                    </div>
                  </div>
                </span>
              </span>
              <span *ngSwitchDefault>
                <span [title]="row[col.name] ? row[col.name] : ''">
                  <div class="edit-wrapper">
                    <div
                      *ngIf="row[col.name]"
                      class="col-10 px-0 text-truncate"
                    >
                      {{ row[col.name] }}
                    </div>
                    <div
                      *ngIf="!row[col.name]"
                      class="col-10 px-0 text-truncate"
                    >
                      -
                    </div>
                  </div>
                </span>
              </span>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [headerClass]="'qa-header'"
          [cellClass]="'dummy-class'"
          name="Quick Actions"
          [sortable]="false"
          [frozenRight]="true"
          [width]="100"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div *ngIf="showDummy" class="dummy-div"></div>
            <div class="d-flex flex-row justify-content-end">
              <button
                class="mr-2 d-flex justify-content-center"
                nz-button
                nzType="primary"
                nzSize="small"
                [disabled]="isReadOnly"
                (click)="editHandler(row)"
              >
                <i nz-icon nzType="edit"></i>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer>
          <ng-template
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
            let-isVisible="isVisible"
          >
            <div class="page-count">
              <nz-form-item>
                <nz-form-control>
                  <nz-select
                    style="width: 75px;"
                    nzPlaceHolder="Select Page Size"
                    [(ngModel)]="selectedPageSize"
                    (ngModelChange)="setPageSize()"
                  >
                    <nz-option
                      *ngFor="let option of pageSizeOptions"
                      [nzLabel]="option"
                      [nzValue]="option"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <datatable-pager
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [page]="curPage"
              [size]="pageSize"
              [count]="rowCount"
              [hidden]="!(rowCount / pageSize > 1)"
              (change)="table.onFooterPage($event)"
            >
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>
