<div class="">
  <nz-tabset [nzSelectedIndex]="0">
    <nz-tab nzTitle="Dailies">
      <ng-template nz-tab>
        <app-playlist-dailies></app-playlist-dailies>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Internal">
      <ng-template nz-tab>
        <div style="color: gold;">
          Internal
        </div>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="External">
      <ng-template nz-tab>
        <div style="color: gold;">
          External
        </div>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Archive">
      <ng-template nz-tab>
        <div style="color: gold;">
          Archive
        </div>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</div>
